
body {
 text-align:center;
 padding:30px;
  background-color: ivory;
}

.framed-image {
    border: 5px solid black; /* מסגרת שחורה בעובי 5 פיקסלים */
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל עדין */
    width: 200px; /* רוחב התמונה */
}
.container {
    border: 3px solid #333; /* מסגרת עבה בצבע אפור כהה */
    display: flex;
    justify-content: space-around; /* מרכז את המקטעים בתוך הקונטיינר */
}


.section {
    flex: 1;
    text-align: center;
    padding:15px;
    background-color: #f0f0f0;
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* צל עדין */
}

.section:hover {
    transform: scale(1.05); /* הגדלה קלה בעת מעבר עכבר */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* צל בולט יותר */

 img:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
}

.instagram-link {
  display: inline-flex;
  align-items: center;
  color: #c13584;
  text-decoration: none;
}

h3 {
  color: #333; /* צבע אפור כהה */
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; /* מרכז את הטקסט */
}


/* עיצוב ברירת מחדל (לטאבלטים ומחשבים ניידים) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* עיצוב עבור מסכים ברוחב 600px ומטה (פלאפונים) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    iframe {
        width: 100%; /* שים לב שהסרטון יתאים לרוחב המסך */
        height: auto;
    }
}